{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'js/script.js' %}"></script>

	
    </head>
    <body>
       <div class="content container">
    <div class="row">
        <div class="col-md-8">

                <div class="post">
                    <div class="date">
				<p>Hello nurtas</p>
				<p>Are you stupid</p>

				{% for post in posts %}
					<div>
					<p>published: {{ post.published_date }}</p>
					    <h2><a href="">{{ post.title }}</a></h2>
					    <p>{{ post.text|linebreaksbr }}</p>
					</div>
				    {% endfor %}


                    </div>
			<a href="main"><h1>Press to know answer</h1></a>
                </div>
		<img src="{% static "images/negr.jpg" %}" alt="My image">

        </div>
    </div>
</div>

<input type="text">
<input type="text">

<div class="accordion">
	<div class="accordion-header">What is Lorem Ipsum?</div>
	<div class="accordion-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </div>

	<div class="accordion-header">Why do we use it?</div>
	<div class="accordion-content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web .</div>

	<div class="accordion-header">Where does it come from?</div>
	<div class="accordion-content">ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections1.10.32 and 1.10.33 </div>
</div>

    </body>
</html>

